.DS_Store
*.raw
*.log
*.zip
*.kicad_prl
*.gbr
*.drl
*.lck
*.rpt
*#auto_saved_files#
/gerbers
*.gbrjob
*.csv
/PoE-backups
*.raw
*.log
*.plt
fp-info-cache
fp-lib-table
sym-lib-table
*.bak
*.txt
*.kicad_sch-bak
BOMS/